!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Chiel Hackman - Webdeveloper
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
  -# Navigation
  .sidenav#sidenav
    %a.closebtn{:href => "javascript:void(0)", :onclick => "closeNav()"} &times;
    .sidenav__heading
      %h2
        Chiel Hackman
      %image{:src => "/images/profile_picture_chiel.jpg"}
      %h2.text--green Webdeveloper
      %hr
    .sidenav__body
      %q Without requirements or design, programming is the art of adding bugs to an empty text file.
      %p.text--blue Louis Srygley
    %hr
    .sidenav__footer
      = link_to root_path do
        %button.btn__primary Home
      %button.btn__primary
        Blog - Ruby on Rails
      = link_to about_path do
        %button.btn__primary About

      %small &copy; 2018 Chiel Hackman

  -# Main content
  .main#main
    .hamburger{:onclick => "openNav();"}
      .icon--first
      .icon--second
      .icon--third
    - flash.each do |key, value|
      .modal{ :id => "myModal" }
        .modal-content{ class: key }
          %span.close{ :onclick => "closeModal();" } &times;
          %p
            = value
    = yield
